body{
    background-color:rgb(250, 250, 250);
    text-align: center;
}
#total_container{
    width: 800px;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
}
#phone{
    margin: 0 auto;
    margin-top: 10px;
}
#img_phone{
    width: 420px;
    height: 640px;
}
.img_index{
    width: 230px;
    height: 430px;
    position: relative;
    bottom: 530px;
    left: 50px;
}
h1{
    font-family: "billabong";
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}
#container{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    width: 370px;
    margin-top: 50px;
}
.box{
    width: 280px;
    margin: 5px;
    background-color: white;
    border: 1px solid rgb(218, 218, 218);
    text-align: center;
}
#login{
    height: 350px;
    padding: 20px 40px 20px 40px;
}
#register{
    padding: 20px 40px 20px 40px;
    font-size: 14px;
}
#register a{
   color: rgb(0, 140, 255);
   text-decoration: none;
   font-weight: bold;
}
input{
    width: 250px;
    height: 15px;
    margin: 4px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(218, 218, 218);
    padding: 10px;
    font-size: 12px;
    border-radius: 3px;
}
input:focus{
    outline: none;
    border: 1px solid rgb(160, 160, 160);
}
::placeholder{
    color: rgb(141, 141, 141);
}
#btn_login{
    width: 273px;
    height: 30px;
    margin: 10px 0px 20px 0px;
    background-color: rgb(27, 152, 255);
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
}
#or{
    color:rgb(136, 136, 136);
    font-weight: bold;
    font-size: 13px;
    height: 40px;
    padding: 0 20px 0 20px;
}
#facebook a{
    color: rgb(1, 51, 143);
    font-size: 15px;
    font-weight: bold;
}
#facebook{
    height: 30px;
}
#facebook img{
    height: 15px;
    width: 15px;
    margin-top: 1px;
    margin-right: 3px;
}
#reset_password{
    color: rgb(0, 35, 99);
    font-size: 12px;
}
#down{
    padding: 15px;
    font-size: 14px;
}
#store img{
    width: 140px;
    height: 40px;
}
#contain_or{
    display:flex;
    flex-direction: row;
    width: 280px;
}
.line{
    width:105px;
    height: 0.5px;
    background-color: rgb(209, 209, 209);
    margin-top: 7px;
    margin-left: 3px;
}
@font-face{
    font-family: "billabong";
    src:url("font/billabong.otf")format("truetype");
    font-stype: normal;
    font-weight: bold;
}
